header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 3px #bbb;
    position: fixed;
    z-index: 1;
    .menu {
      font-size: 2rem;
      cursor: pointer;
    }
    .right, .left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      color: #000;
      .icon {
        font-size: 1.5rem;
        cursor: pointer;
        &.blue {
          color: blue;
        }
      }
  }
  .left {
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .home-icon {
    .icon {
      font-size: 1.5rem;
      color: #000;
      display: none;
    }
  }
  .right {
    .self {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .input-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        color: #000;
        font-size: 1.5rem;
        padding-right: 1rem;
        border-bottom: 2px solid #000;
        overflow: hidden;
        button {
          cursor: pointer;
        }
        input {
          width: 400px;
          height: 30px;
          background: transparent;
          border: none;
          outline: none;
          padding: 10px;
          font-size: 1.1rem;
          transition: width 0.5 ease;
        }
      }
      .bell {
        position: relative;
        .point {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          top: 0;
          margin: auto;
          z-index: -1;
          width: 6px;
          height: 6px;
          background-color: rgb(21, 0, 255);
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          &.blue::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 1px;
            background-color: rgb(21, 0, 255);
            border-radius: 25px;
            animation: loop 0.5s 0s;
          }
        }
      }
    }
  }
}

@keyframes loop {
  0% {
    background-color: rgb(21, 0, 255);
    width: 1px;
    height: 1px;
  }
  100% {
    background-color: rgba(0, 0, 255, 0);
    width: 50px;
    height: 50px;
  }
}



@media (max-width: 768px) {
  header {
    .left {
      h2 {
        font-size: 1rem;
      }
    }
    .home-icon {
      .icon {
        display: flex;
      }
    }
    .right {
      .self {
        display: none;
      }
      .input-box {
        .input {
          &.show {
            width: 250px;
          }
        }
      }
    }
  }
}