.profile-page {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    .self {
        position: relative;
        display: grid;
        gap: 1rem;
        margin-top: 4rem;
        .back-img {
            position: absolute;
            width: 100%;
            height: 65%;
            border-radius: 20px 20px 0 0;
            overflow: hidden;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .circle {
            position: relative;
            width: 200px;
            height: 200px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30rem;
            margin: 10rem auto auto;
            img {
                width: 85%;
                height: 85%;
                border-radius: 30rem;
                object-fit: cover;
            }
            span {
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 30rem;
                right: 2rem;
                bottom: -0.3rem;
                background: #00dbd0;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover {
                    background: #01c9bf;
                }
                label {
                    font-size: 1rem;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
        .user-detail {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            .user-name {
                font-size: 1.1rem;
                font-weight: bold;
                font-family: "Playwrite IT Moderna", serif;
            }
            .user-email {
                font-family: "Playwrite IT Moderna", serif;
            }
        }
    }
    .my-post {
        width: 100%;
        .margin {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            gap: 2rem;
            margin: 4rem 0;
            .create-post {
                width: 22rem;
                height: 70vh;
                border: 2px dashed #000;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                button {
                    background: #aa0047;
                    border-radius: 5px;
                }
            }
            .every {
                width: 22rem;
                display: grid;
                border-radius: 5px;
                overflow: hidden;
                .image {
                    width: 100%;
                    height: 50vh;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .post-details {
                    width: 100%;
                    height: 20vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    .together {
                        display: flex;
                        gap: 1.2rem;
                        .tick {
                            color: gray;
                            font-weight: bold;
                        }
                    }
                    .name {
                        font-size: 2rem;
                        line-height: 2.5rem;
                        font-weight: bold;
                    }
                    .text {
                        color: gray;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .profile-page {
        .my-post {
            .margin {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 431px) {
    .profile-page {
        .my-post {
            .margin {
                grid-template-columns: 1fr;
            }
        }
    }
}