.profile-page {
    width: 90%;
    display: grid;
    margin: auto;
    .self {
        position: relative;
        display: grid;
        gap: 1rem;
        margin-top: 4rem;
        justify-content: flex-start;
        .back-img {
            position: absolute;
            width: 100%;
            height: 53%;
            border-radius: 20px 20px 0 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            z-index: -1;
            h2 {
                font-size: 6rem;
                font-weight: bold;
                font-family: "Playwrite IT Moderna", serif;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .image-controller {
            margin: 12rem 0 3rem 0;
            display: grid;
            gap: 1rem;
            .circle {
                position: relative;
                width: 200px;
                height: 200px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30rem;
                margin: auto auto auto 5rem;
                .first-word {
                    width: 85%;
                    height: 85%;
                    border-radius: 30rem;
                    border: 1px solid #bbb;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h2 {
                        font-weight: bold;
                        font-size: 5rem;
                        user-select: none;
                    }
                }
                img {
                    width: 85%;
                    height: 85%;
                    border-radius: 30rem;
                    user-select: none;
                    object-fit: cover;
                }
                button {
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 30rem;
                    right: 2rem;
                    bottom: -0.3rem;
                    background: #00dbd0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        background: #01c9bf;
                    }
                    label {
                        font-size: 1rem;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
            .user-detail {
                display: grid;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 0.5rem;
                margin-left: 5rem;
                .user-name {
                    font-size: 1.1rem;
                    font-weight: bold;
                    font-family: "Playwrite IT Moderna", serif;
                }
                .about-me {
                    display: grid;
                    gap: 1rem;
                    .about-follow {
                        display: flex;
                        gap: 1rem;
                        font-weight: 900;
                        margin: auto;
                        p {
                            font-weight: 500;
                            font-size: 0.8rem;
                            text-align: center;
                        }
                    }
                    .about-edits {
                        display: flex;
                        gap: 1rem;
                    }
                }
            }
        }
    }
    .my-post {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        margin-bottom: 2rem;
        gap: 2rem;
        .create-post {
            width: 25rem;
            height: 72vh;
            border: 2px dashed #000;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            button {
                background: #aa0047;
                border-radius: 5px;
            }
        }
            .every {
                width: 25rem;
                display: grid;
                border-radius: 5px;
                overflow: hidden;
                .image {
                    width: 100%;
                    height: 50vh;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .post-details {
                    width: 100%;
                    height: 22vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: #FBF5E5;
                    border-radius: 0 0 10px 10px;
                    padding: 20px;
                    .together {
                        display: grid;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1rem;
                        gap: 0.8rem;
                        .btns {
                            display: flex;
                            justify-content: space-between;
                            .reaction {
                                display: flex;
                                gap: 1rem;
                                .reaction-btn {
                                    font-size: 1.2rem;
                                    cursor: pointer;
                                }
                            }
                            .created-at {
                                font-size: 0.6rem;
                                font-weight: 500;
                                font-family: "Playwrite IT Moderna", serif;
                            }
                        }
                    .name {
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        font-weight: bold;
                        font-family: "Big Shoulders Stencil", sans-serif;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .profile-page {
        .my-post {
            grid-template-columns: repeat(2, 1fr);
        }
        .self {
            .back-img {
                height: 35%;
            }
            .image-controller {
                margin: 5rem 0 3rem 7rem;
                .circle {
                    width: 100px;
                    height: 100px;
                    margin: auto auto auto 2rem;
                }
                .user-detail {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 431px) {
    .profile-page {
        .my-post {
            grid-template-columns: 1fr;
        }
    }
}